body {
    background-image: url("https://github.com/jeffreysewell/jeffreysewell.github.io/blob/1f7ab469a5513915c4ee9d9930a1dd6f052b7e16/assets/img/estate_barnardsville_nc.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    padding-block-start: 50px;
    padding-block-end: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    column-gap: 20px;
}

.grid-item {
    background-color: transparent;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}
