body {
    background-image: url("assets/img/estate_barnardsville_nc.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    padding-block-start: 50px;
    padding-block-end: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.grid-item {
    background-color: transparent;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-block-size: 0;
}

.grid-item p {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

@media (max-inline-size: 767px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

.text-background {
    position: relative;
}
  
.text-background::before {
    content: "";
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    inset-block-end: 0;
    background-color: rgba(255, 255, 255, 0.5); /* Adjust the color and opacity as needed */
    z-index: -1;
}
