body {
    background-image: url("assets/img/estate_barnardsville_nc.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    padding-block-start: 50px;
    padding-block-end: 50px;
}

/* Add styles for grid-container and grid-item */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.grid-item {
    background-color: #f1f1f1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}
