body {
  background-image: url("assets\img\estate_barnardsville_nc.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-text-size-adjust: 100%;
}

.container {
  padding-block-start: 50px;
  padding-block-end: 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.grid-item {
  background-color: transparent;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-block-size: 0;
}

.grid-item p {
  text-shadow: 1px 1px 2px #f9f7f7;
}

@media (max-inline-size: 767px) {
  .grid-container {
      grid-template-columns: 1fr;
  }
}
